In [1]:
import pandas as pd
df=pd.read_csv('/content/StudentsPerformance.csv')
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group C            some high school  free/reduced
1    female        group B                 high school  free/reduced
2    female        group B            some high school  free/reduced
3    female        group B                some college      standard
4    female        group C                some college  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
0                      none           0             17             10
1                      none           8             24             23
2                      none          18             32             28
3                      none          11             38             32
4                      none          22             39             33
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[1000 rows x 8 columns]

In [10]:
#Find out how many males and females participated in the test.
c=df.groupby(['gender']).count()
print(c)

        race/ethnicity  parental level of education  lunch  \
gender
female             518                          518    518
male               482                          482    482

        test preparation course  math score  reading score  writing score
gender
female                      518         518            518            518
male                        482         482            482            482

In [11]:
#Information on parents education
c1=df.groupby(['parental level of education']).count()
print(c1)

                             gender  race/ethnicity  lunch  \
parental level of education
associate's degree              222             222    222
bachelor's degree               118             118    118
high school                     196             196    196
master's degree                  59              59     59
some college                    226             226    226
some high school                179             179    179

                             test preparation course  math score  \
parental level of education
associate's degree                               222         222
bachelor's degree                                118         118
high school                                      196         196
master's degree                                   59          59
some college                                     226         226
some high school                                 179         179

                             reading score  writing score
parental level of education
associate's degree                     222            222
bachelor's degree                      118            118
high school                            196            196
master's degree                         59             59
some college                           226            226
some high school                       179            179

In [33]:
d1=df.groupby(['test preparation course'])[['math score','reading score','writing score']].mean()
print(d1)

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [32]:
d2=df.groupby(['gender'])[['math score','reading score','writing score']].mean()
print(d2)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [30]:
d3=df.groupby(['gender'])[['math score','reading score','writing score']].var()
print(d3)

        math score  reading score  writing score
gender
female  256.958593     207.677438     220.369327
male    211.889097     200.211010     202.413924

In [31]:
d4=df.groupby(['test preparation course'])[['math score','reading score','writing score']].var()
print(d4)

                         math score  reading score  writing score
test preparation course
completed                210.884027     183.265864     175.202612
none                     246.668662     213.419851     226.251739

In [19]:
df3=df.sort_values(by=['math score'],ascending=False)
print(df3)

     gender race/ethnicity parental level of education         lunch  \
999    male        group E           bachelor's degree      standard
996    male        group A                some college      standard
515  female        group E                some college      standard
517  female        group E          associate's degree      standard
516  female        group E           bachelor's degree      standard
..      ...            ...                         ...           ...
2    female        group B            some high school  free/reduced
51   female        group C            some high school  free/reduced
3    female        group B                some college      standard
1    female        group B                 high school  free/reduced
0    female        group C            some high school  free/reduced

    test preparation course  math score  reading score  writing score
999               completed         100            100            100
996               completed         100             96             86
515                    none         100             92             97
517                    none         100            100            100
516                    none         100            100            100
..                      ...         ...            ...            ...
2                      none          18             32             28
51                     none          13             41             51
3                      none          11             38             32
1                      none           8             24             23
0                      none           0             17             10

[1000 rows x 8 columns]

In [24]:
n=0.25*1000
print('No.of students to be given bonus',n)
df4=df3.head(int(n))
print('Details of students to be given bonus=')
print(df4)

No.of students to be given bonus 250.0
Details of students to be given bonus=
     gender race/ethnicity parental level of education         lunch  \
999    male        group E           bachelor's degree      standard
996    male        group A                some college      standard
515  female        group E                some college      standard
517  female        group E          associate's degree      standard
516  female        group E           bachelor's degree      standard
..      ...            ...                         ...           ...
856    male        group E            some high school      standard
855    male        group E          associate's degree  free/reduced
854    male        group D            some high school      standard
853    male        group D          associate's degree  free/reduced
852    male        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
999               completed         100            100            100
996               completed         100             96             86
515                    none         100             92             97
517                    none         100            100            100
516                    none         100            100            100
..                      ...         ...            ...            ...
856               completed          77             76             77
855               completed          77             69             68
854               completed          77             68             69
853                    none          77             78             73
852                    none          77             62             64

[250 rows x 8 columns]